$chihiro: #c76862;
$haku: #87bba2;
$zeniba: #9d0129;
$lin: #b54d68;
$yubaba: #3c2f29;
$akio: #437155;
$noface: #8d83c3;
$noseaun: #dc8eb5;

$colors: 
    'chihiro' #{$chihiro}, 
    'haku' #{$haku}, 
    'zeniba' #{$zeniba}, 
    'lin' #{$lin}, 
    'yubaba' #{$yubaba},
    'akio' #{$akio},
    'noface' #{$noface},
    'noseaun' #{$noseaun}
;


$positions-y: 
    'top' -3px,
    'bottom' 3px
;

$positions-x: 
    'left' -3px,
    'right' 3px
;
